<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>
    <div class="container mt-3">
        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label>Kategoriyi giriniz</label>
            <input type="text" name="name" id="name" class="form-control">
            <br>
            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>
    </div>
</body>
</html>